* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
/* Typography */
/*  */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

h1 {
  font-weight: var(--bold);
  color: var(--freshMint);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semiBold);
  color: var(--freshMint);
}

p {
  /* 14 pixel */
  font-size: var(--pMobile)
}



/*  */
/* Variables */
/*  */
:root {
  /* Sizes */
  --h1Desktop: 3rem;
  --h1Mobile: 2.25rem;

  --h2Desktop: 2rem;
  --h2Mobile: 1.75rem;

  --pDesktop: 1rem;
  --pMobile: 0.875rem;

  --breadCrumbsDesktop: 0.875rem;
  --breadCrumbsMobile: 0.75rem;

  --ctaDesktop: 1.125rem;
  --ctaMobile: 1rem;

  --linksDesktop: 1rem;
  --linksMobile: 0.875rem;

  --navBarDesktop: 1rem;
  --navBarMobile: 2rem;

  --footerTextDesktop: 3rem;
  --footerTextMobile: 1.5rem;


  /* Weigts */
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;

  /* Paddings & Margins */
  --paddingSmlDesktop: 1rem;
  --paddingSmlMobile: 0.5rem;

  --paddingMedDesktop: 1.5rem;
  --paddingMedMobile: 1rem;

  --paddingLrgDesktop: 2rem;
  --paddingLrgMobile: 1.5rem;

  --sectionPaddingSmlDesktop: 3rem;
  --sectionPaddingSmlMobile: 2rem;

  --textPaddingSpacingDesktop: 1rem;
  --textPaddingSpacingMobile: 0.5rem;

  --sponsorPaddingMobile: 1rem;



  /* Colors */
  --deepForest: #2E4600;
  --fernLeaf: #588C42;
  --freshMint: #82B56D;
  --clearSky: #87CEEB;
  --paleStone: #F5F1E4;

  --black: #000000;
  --white: #ffffff;
  --grey: #D9D9D9;


}

/*  */
/* Utility Classes */
/*  */
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
/* My Styling */
/*  *

/*  */
/* Header / Nav */
/*  */

nav{
  width: 100vw;
  height: 60px;
  background: var(--fernLeaf);
  display: flex;
  justify-content: space-between;
  padding-right: var(--navBarMobile);
  padding-left: var(--navBarMobile);
}
/* Burgermenu icon og position */
nav .burgerMenuLabel i{
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 30px;
  transform: translate(0, -50%);
}
nav .loginIcon{
display: flex;
align-items: center;
}
nav i{
  font-size: var(--navBarMobile);
  color: var(--white);
}

/* Fjerner checkbox iconet så kun burgermenu icon er visable*/
.burgerMenu {
  display: none;
}
/* Vores BurgerMenu content*/
.fullscreen-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--fernLeaf);
  pointer-events: none;

  /* Transition effekt hvor den scroller ind. Den starter ude som default. */
  transform: translateX(-150vw);
  transition: transform 1s ease;
}

.fullscreen-content a {
  font-weight: var(--semiBold);
  text-decoration: none;
  color: white;
}


/* Viser Fullscreen when checked og position 0 0 under transition for scroll in effekt */
.burgerMenu:checked~.fullscreen-content {
  transform: translate(0, 0);
}

nav ul{
    padding-top: 60px;
}
nav ul li {
  padding:0 0 var(--navBarMobile) var(--navBarMobile);
  list-style-type: none;
}
/* Unden pointer kan vi ikke click på anchorsne. */
nav li a {
  font-size: var(--navBarMobile);
  pointer-events: auto;
}

/*  */
/* Main / Article / Aside */
/*  */

/*  */
/* Sponsor sektion */
/*  */
.sponsor{
  background: var(--fernLeaf);
  padding-bottom: var(--sponsorPaddingMobile);
  padding-top: var(--sponsorPaddingMobile);
  color: white;
  text-align: center;
}

.sponsor h2{
  color: white;
}

.sponsorBillede{
  display: flex;
  justify-content: center;
  padding-top: var(--sponsorPaddingMobile);
  padding-bottom: var(--sponsorPaddingMobile);
  gap: 3rem; 
}

/*  */
/* Footer */
/*  */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: var(--sectionPaddingSmlMobile);
  background: var(--deepForest);
  color: white;
}

footer p {
  font-size: var(--footerTextMobile);
}

footer section {
  padding-bottom: var(--sectionPaddingSmlMobile);
}

.kontaktInfo p:nth-of-type(1) {
  padding-bottom: var(--textPaddingSpacingMobile);
}

.socials p {
  padding-bottom: var(--textPaddingSpacingMobile);
}

.nyhedsbrev {
  background: var(--fernLeaf);
  width: 50vw;
  min-width: 280px;
  text-align: center;
  border-radius: 6px;
  padding-top: var(--sponsorPaddingMobile);
  padding-bottom: var(--sectionPaddingSmlMobile);

}

.nyhedsbrev h3 {
  padding-bottom: var(--sectionPaddingSmlMobile);
  color: white;
}

.nyhedsbrev input {
  margin-bottom: var(--sponsorPaddingMobile);
  padding: var(--textPaddingSpacingMobile);
  border-radius: 6px;
  border: none;
  width: 70%;
}

input::placeholder {
  text-align: center;
}

button {
  background: var(--clearSky);
  color: white;
  width: 70%;
  border: none;
  padding: var(--textPaddingSpacingMobile);
  border-radius: 6px;

}

.footerDisclaimer {
  text-align: center;
}

.footerDisclaimer p {
  font-size: var(--breadCrumbsMobile);
}

/*  */
/* Forside */
/*  */


/* */
/* Orienteringsløb */
h1 {
  text-align: center;
}

.HogHbillede {
  width: 100vw;
  padding-top: var(--sectionPaddingSmlMobile);
  padding-bottom: var(--textPaddingSpacingMobile);
  display: block;
}

.HogH p {
  padding-top: var(--textPaddingSpacingMobile);
  padding-bottom: var(--sectionPaddingSmlMobile);
}

.fodtøjbillede {
  width: 100vw;
  padding-bottom: var(--textPaddingSpacingMobile);
  display: block;
}

.fodtøj p {
  padding-bottom: var(--sectionPaddingSmlMobile);
}

.Okortbillede {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: var(--textPaddingSpacingMobile);
  display: block;
}

.detaljeretkortbillede {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: var(--textPaddingSpacingMobile);
  display: block;
}

figure{
  width: 100vw;
  height: 40vh;
  aspect-ratio: 2/1;
} 

.flex {
  display: block;
}

.detaljeretkort {
  padding-bottom: var(--textPaddingSpacingMobile);
}

/* mediaequerries for Orienteringsløb */

@media (min-width: 1440px) {

  h1{
    font-size: var(--h1Desktop);
  }

  .HogHbillede {
    width: 95vw;
    height: 80vh;
    padding-bottom: var(--sectionPaddingSmlDesktop);
  }

  .HogH h2{
    font-size: var(--h2Desktop);
    padding-bottom: var(--textPaddingSpacingDesktop);
  }

  .HogH p {
    font-size: 24px;
    padding-bottom: var(--textPaddingSpacingDesktop);
    padding-top: 0;
  }

  .fodtøj {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5 1fr;
  }

  .fodtøj h2{
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .fodtøj img{
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .fodtøj p{
    grid-column-start: 1;
  }

  .fodtøj h2{
    font-size: var(--h2Desktop);
  }

  .fodtøj p {
    font-size: 24px;
  }

  .fodtøjbillede{
    width: 50vw;
    height: 53vh;
    padding-bottom: var(--textPaddingSpacingDesktop);
  }

  .flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--sectionPaddingSmlDesktop);
  }

  .kortbilleder .detaljeretkortbillede, .Okortbillede {
    width: 35vw;
    height: 35vh;
  }

  .detaljeretkort h2 {
    font-size: var(--h2Desktop);
    padding-top: var(--sectionPaddingSmlDesktop);
  }

  .flex p {
    font-size: 24px;
    width: 65ch;
  }  
}

/* */
/* træning og aktivitet */
/*  */


/* */
/* Medlemsskab */
.Medlemskabcards{
  background-color: var(--clearSky);
  
}
/*  */


/* */
/* Kontakt */

/* */
