
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
/* Typography */
/*  */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
    background: var(--paleStone);
    overflow-x: hidden;
}
main{
  margin-inline: var(--paddingSmlMobile);
}

h1 {
  font-weight: var(--bold);
  color: var(--freshMint);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--semiBold);
  color: var(--freshMint);
}

p {
  /* 14 pixel */
  font-size: var(--pMobile)
}

/*  */
/* Breadcrumbs styling */
/*  */

.breadCrumbs {
  padding-top: var(--textPaddingSpacingMobile);
  padding-bottom: 24px;
}

.breadCrumbs a p {
  display: inline;
  color: var(--grey);
  font-style: italic;
}

.breadCrumbs a {
  text-decoration: none;
}

.breadCrumbs a:not(:last-of-type)::after {
  content: " >";
  color: var(--grey);
}

/*  */
/* Læs mere details / summary */
/*  */
.detailsMobile>summary {
  position: absolute;
  z-index: 1;
  list-style-type: none;
  font-style: italic;
  font-weight: var(--semiBold);
  color: var(--clearSky);
  left: 0;
  bottom: -1rem;
}
/* Nød til at lave fordi padding lavet forskelligt på nogle af siderne
iforhold til padding top og buttom. */
.detailsMobile>.noPadddingSummary{
  bottom: -1.5rem;
}
.detailsDesktop {
  display: none;
}

.detailsDesktop summary {
  display: none;
}

/* Her bruges der content funktionen for details open og default closed. 
after eller before nødvendig for content til at virke */
.detailsMobile[open] summary::after {
  content: "Læs mindre";
}

.detailsMobile summary::after {
  content: "Læs mere";
}
/* Position for all læs mere */
.detailsSummaryPosition {
  position: relative;
}



/*  */
/* Variables */
/*  */
:root {
  /* Sizes */
  --h1Desktop: 4rem;
  --h1Mobile: 2.25rem;

  --h2Desktop: 3rem;
  --h2Mobile: 1.75rem;

  --pDesktop: 1.5rem;
  --pMobile: 0.875rem;

  --breadCrumbsDesktop: 1.5rem;
  --breadCrumbsMobile: 0.75rem;

  --ctaDesktop: 1.125rem;
  --ctaMobile: 1rem;

  --linksDesktop: 1rem;
  --linksMobile: 0.875rem;

  --navBarDesktop: 1rem;
  --navBarMobile: 2rem;

  --footerTextDesktop: 3rem;
  --footerTextMobile: 1.5rem;


  /* Weigts */
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;

  /* Paddings & Margins */
  --paddingSmlDesktop: 1rem;
  --paddingSmlMobile: 0.5rem;

  --paddingMedDesktop: 1.5rem;
  --paddingMedMobile: 1rem;

  --paddingLrgDesktop: 2rem;
  --paddingLrgMobile: 1.5rem;

  --sectionPaddingSmlDesktop: 3rem;
  --sectionPaddingSmlMobile: 2rem;

  --textPaddingSpacingDesktop: 1rem;
  --textPaddingSpacingMobile: 0.5rem;

  --sponsorPaddingMobile: 1rem;



  /* Colors */
  --deepForest: #2E4600;
  --fernLeaf: #588C42;
  --freshMint: #82B56D;
  --clearSky: #87CEEB;
  --paleStone: #F5F1E4;

  --black: #000000;
  --white: #ffffff;
  --grey: #888888;


}

/*  */
/* Utility Classes */
/*  */
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
/* My Styling */
/*  *

/*  */
/* Header / Nav */
/*  */
.DesktopNav{
  display: none;
}
.MobileNav {
  width: 100vw;
  height: 60px;
  background: var(--fernLeaf);
  display: flex;
  justify-content: space-between;
  padding-right: var(--navBarMobile);
  padding-left: var(--navBarMobile);
}

/* Burgermenu icon og position */
.MobileNav .burgerMenuLabel i {
  position: absolute;
  z-index: 3;
  top: 30px;
  left: 30px;
  transform: translate(0, -50%);
}

.MobileNav .loginIcon {
  display: flex;
  align-items: center;
}

.MobileNav i {
  font-size: var(--navBarMobile);
  color: var(--white);
}

/* Fjerner checkbox iconet så kun burgermenu icon er visable*/
.burgerMenu {
  display: none;
}

/* Vores BurgerMenu content*/
.fullscreen-content {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--fernLeaf);
  pointer-events: none;
  overflow: hidden;

  /* Transition effekt hvor den scroller ind. Den starter ude som default. */
  transform: translateX(-150vw);
  transition: transform 1s ease;
}

.fullscreen-content a {
  font-weight: var(--semiBold);
  text-decoration: none;
  color: white;
}

/* Makes the burgermenu icon fixed when checked
so it doesnt dissapear when scrolling. */
.burgerMenu:checked~.burgerMenuLabel i {
  position: fixed;
}

/* Viser Fullscreen when checked og position 0 0 under transition for scroll in effekt */
.burgerMenu:checked~.fullscreen-content {
  transform: translate(0, 0);
}

.MobileNav ul {
  padding-top: 60px;
}

.MobileNav ul li {
  padding: 0 0 var(--navBarMobile) var(--navBarMobile);
  list-style-type: none;
}

/* Unden pointer kan vi ikke click på anchorsne. */
.MobileNav li a {
  font-size: var(--navBarMobile);
  pointer-events: auto;
}

/*  */
/* Main / Article / Aside */
/*  */

/*  */
/* Sponsor sektion */
/*  */
.sponsor{
  background: var(--fernLeaf);
  padding-bottom: var(--sponsorPaddingMobile);
  padding-top: var(--sponsorPaddingMobile);
  color: white;
  text-align: center;
}

.sponsor h2{
  color: white;
}

.sponsorBillede{
  display: flex;
  justify-content: center;
  padding-top: var(--sponsorPaddingMobile);
  padding-bottom: var(--sponsorPaddingMobile);
  gap: 3rem; 
}

/*  */
/* Footer */
/*  */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: var(--sectionPaddingSmlMobile);
  background: var(--deepForest);
  color: white;
}
footer a {
  text-decoration: none;
  color: var(--white);
}

footer p {
  font-size: var(--footerTextMobile);
}

footer section {
  padding-bottom: var(--sectionPaddingSmlMobile);
}

.kontaktInfo p:nth-of-type(1) {
  padding-bottom: var(--textPaddingSpacingMobile);
}

.socials p {
  padding-bottom: var(--textPaddingSpacingMobile);
}
.socials p:nth-last-of-type(1)::after{
  content: "  \f16d";
  font-family: "Font Awesome 6 Brands";
}
.socials p:nth-last-of-type(2)::after{
  content: "  \f09a";
  font-family: "Font Awesome 6 Brands";

}

.nyhedsbrev {
  background: var(--fernLeaf);
  width: 50vw;
  min-width: 280px;
  text-align: center;
  border-radius: 6px;
  padding-top: var(--sponsorPaddingMobile);
  padding-bottom: var(--sectionPaddingSmlMobile);

}

.nyhedsbrev h3 {
  padding-bottom: var(--sectionPaddingSmlMobile);
  color: white;
}

.nyhedsbrev input {
  margin-bottom: var(--sponsorPaddingMobile);
  padding: var(--textPaddingSpacingMobile);
  border-radius: 6px;
  border: none;
  width: 70%;
}

input::placeholder {
  text-align: center;
}

button {
  background: var(--clearSky);
  color: white;
  width: 70%;
  border: none;
  padding: var(--textPaddingSpacingMobile);
  border-radius: 6px;

}

.footerDisclaimer {
  text-align: center;
}

.footerDisclaimer p {
  font-size: var(--breadCrumbsMobile);
}

/*  */
/* Forside */
.velkommen h1{
display: flex;
justify-content: center;
padding-bottom: var(--textPaddingSpacingMobile);
}
.velkommen p{
  padding-bottom: var(--textPaddingSpacingMobile);
}
.forsidebilleder{
  width: 100%;
  height: auto;
}
.foralle h2{
  padding-bottom: var(--textPaddingSpacingMobile);
}
.foralle p{
  padding-bottom: var(--textPaddingSpacingMobile);
}
.foralle img:nth-of-type(1){
  padding-bottom: var(--sectionPaddingSmlMobile);
}
.foralle img:nth-of-type(2){
  padding-top: var(--sectionPaddingSmlMobile);
}
.desktopaside{
  display: none;
}
.h2desktop{
  display: none;
}
.tilbyder{
  padding-top: var(--sectionPaddingSmlMobile);
}
.tilbyder p{
  padding-top: var(--textPaddingSpacingMobile);
}
.historie {
  padding-top: var(--sectionPaddingSmlMobile);
}
.historie p{
  padding-top: var(--textPaddingSpacingMobile);
}
.forsidenyhed{
  padding-top:var(--sectionPaddingSmlMobile);
}
aside{
  background: var(--clearSky);
  border-radius: 5%;
  padding-top:var(--paddingSmlMobile);
  padding-bottom:var(--paddingSmlMobile);
  margin-bottom: var(--sectionPaddingSmlMobile);
  padding-inline: 0.5rem;
}

/* @media General media */
@media (min-width: 1440px){
h1{
  font-size: var(--h1Desktop);
}
h2{
  font-size: var(--h2Desktop);
}
h3{
  font-size: var(--breadCrumbsDesktop);
}
li a:hover{
text-decoration: underline;
}
p, a{
  font-size: var(--pDesktop);
}
.footerDisclaimer p{
  font-size: var(--breadCrumbsDesktop);
}
.breadCrumbs{
  padding-top: 3rem;
  padding-bottom: var(--sectionPaddingSmlDesktop);
}
.detailsMobile {
  display: none;
}
.detailsDesktop {
  display: inline;
}
/* Nav */
.MobileNav {
  display: none;
}

.DesktopNav {
  display: flex;
  background-color: var(--fernLeaf);
  height: 150px;
  width: 100vw;
  padding-left: 0;
}

.DesktopNav ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  list-style-type: none;
  padding-right: 4vw;
}
.DesktopNav ol li i{
  font-size: 4rem;
}

.DesktopNav img {
  height: 150px;
  width: auto;
  display: block;
}
.DesktopNav i{
  color: var(--white);
}

.DesktopNav a {
  text-decoration: none;
  color: var(--white);
}

}
@media (min-width: 1440px){
.velkommen p{
  padding: 0;
}
.forsideDF{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.2fr;
  grid-template-rows: 0.1fr 0.5fr;
  gap: 0.5rem;
  padding: 0;
  padding-top: var(--sectionPaddingSmlDesktop);
}
.foralle img{
  aspect-ratio: 1003 / 379;
  object-fit: cover;
  padding: 0;
}
.foralle img:nth-of-type(2){
  padding-top: 0;
}
.forsidebilleder{
  margin-bottom: var(--sectionPaddingSmlDesktop);
}
.desktopaside {
  display: inline;
  padding-inline: 5px;
}
.h2desktop {
  display: inline;
}
.tilbyder{
  padding:0;
}
.historie{
  padding:0;
  padding-top: var(--sectionPaddingSmlDesktop);
}
h2{
  grid-column-start: 3;
}
.GridForside {
  grid-row-start: 2;
  grid-column: 1/3;
  padding: 0;
}
.desktopaside{
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row: 2/-1;
  border-radius: 25px;
}
.aside, br{
  display: none;
}
/* FOOTER TIL DESKTOP */
.sponsor{
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
}
.sponsoroverskrift{
  display: flex;
  align-items: center;
}
.sponsoroverskrift h2{
  padding: 0;
}

footer{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
}
footer a:hover{
  text-decoration: underline;
}
.nyhedsbrevContainer{
  grid-column-start:3;
}

.kontaktInfo{
  grid-column-start: 2;
  grid-row: 1/3;
}
.nyhedsbrev{
  width: 50%;
  padding-inline: 1rem;
}
.footerTextAligner{
  display: grid;
  grid-column: 1/3;
  height: 100%;
}
.socials{
  grid-column-start:3;
}
}
.footerDisclaimer {
grid-column-start: 1;
grid-column: 1/4;
}

/* */
/* Om Orienteringsløb */
h1 {
  text-align: center;
}

.o-Løb h2{
  padding-bottom: var(--textPaddingSpacingMobile);
}
.HogHbillede {
  width: 100%;
  padding-top: var(--sectionPaddingSmlMobile);
  padding-bottom: var(--textPaddingSpacingMobile);
  display: block;
}

.HogH p {
  padding-bottom: var(--textPaddingSpacingMobile);
}

.fodtøjbillede {
  width: 100%;
  object-fit: cover;
  object-position: center 20%;
  padding-bottom: var(--sectionPaddingSmlMobile);
  display: block;
  aspect-ratio: 2/1;
  padding-top: var(--sectionPaddingSmlMobile);

}

.fodtøj p {
  padding-bottom: var(--textPaddingSpacingMobile);
}

.Okortbillede {
  width: 100%;
  object-fit: cover;
  padding-bottom: var(--textPaddingSpacingMobile);
  display: block;
  aspect-ratio: 2/1;
  padding-top: 24px;
}
.detaljeretkort h2{
  padding-top: 24px;
}
.detaljeretkort p{
  padding-bottom: var(--textPaddingSpacingMobile);
}
.detaljeretkortbillede {
  width: 100%;
  object-fit: cover;
  padding-bottom: var(--sectionPaddingSmlMobile);
  display: block;
  aspect-ratio: 2/1;
}

/* .kortbilleder{
  width: 100vw;
  height: 40vh;
  aspect-ratio: 2/1;
}  */

.flex {
  display: block;
}

.detaljeretkort {
  padding-bottom: var(--textPaddingSpacingMobile);
}

/* mediaequerries for Om Orienteringsløb */

@media (min-width: 1440px) {
  .o-Løb .HogH article p{
    padding-right: 0;
  }
  .HogHbillede {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 5/2;
    padding-top: var(--textPaddingSpacingDesktop);
    padding-bottom: var(--sectionPaddingSmlDesktop);
  }

  .fodtøj {
    display: grid;
    grid-template-columns: 1fr 0.35fr;
    grid-template-rows: 0.5fr 1fr;
  }

  .fodtøj h2{
    padding-top: 40px;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .fodtøj img{
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .fodtøj article{
    grid-column-start: 1;
  }

  .fodtøjbillede{
    width: 35vw;
    height: 100%;
    object-fit: cover;
    padding-top: 0;
    padding-bottom: 0;
  }

  .flex {
    display: flex;
    

  }

  .kortbilleder .detaljeretkortbillede, .Okortbillede {
    width: 35vw;
    height: 35vh;
    padding-top: 0;
  }
  .detaljeretkortbillede{
    margin-bottom: var(--sectionPaddingSmlDesktop);
    padding-bottom: var(--sectionPaddingSmlDesktop);
  }

  .detaljeretkort h2 {
    padding-top: var(--sectionPaddingSmlDesktop);
  }

  .flex article {
    width: 65ch;
    flex-grow: 1;
  }  
  .o-Løb section p{
    padding-right: var(--sectionPaddingSmlDesktop);
    padding-bottom: 0;
    padding-bottom: var(--textPaddingSpacingMobile);
  }
}

/* */
/* træning og aktivitet */
/*  */

.TOA h1 {
  text-align: center;
  padding-bottom: var(--textPaddingSpacingMobile);
}

.TOA .TOA-Hero{
  width: 100%;
  aspect-ratio: 56/25;
  object-fit: cover;
  /* Display block because without it all figure img has a buttom margin for some reason */
  display: block;
}

.TOA h2 {
  padding-top: var(--sectionPaddingSmlMobile);
}

.TOA article p {
  padding-top: var(--textPaddingSpacingMobile);
}

/* Da hver TOA article er parrent til og container for summary 
bruges den til placering af vores detail/summary knap buttom -1.5rem*/
/* .TOA article {
  position: relative;
} */


/* Styling and functions for all images that are in grids */
/* General fix (fix senere pga padding top rammer desktop på hero billede) */
.TOA figure:not(.TOA-HeroFigure) {
  padding-top: var(--sectionPaddingSmlMobile);
  display: grid;
  grid-template-rows: auto;
  gap: var(--textPaddingSpacingMobile);
}

.TOA section figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Familie sport section */
.TOA-FamilieSport figure {
  grid-template-columns: calc(50% - 4px) calc(50% - 4px);
}

.TOA .TOA-FamilieSport figure img {
  aspect-ratio: 1/1;
}

.TOA-FamilieSport figure img:nth-of-type(1) {
  object-position: 80%;
}

.TOA-FamilieSport figure img:nth-of-type(3) {
  grid-column: 1/-1;
  aspect-ratio: 5/2;
}

/* Børn og unge section */
.TOA-BørnOgUnge figure img {
  aspect-ratio: 11/7;
}

.TOA .TOA-BørnOgUnge figure img:nth-of-type(2) {
  object-position: center 10%;
}

/* Seniorafdeling section */
.TOA-Seniorafdeling figure {
  grid-template-columns: calc(50% - 4px) calc(50% - 4px);
}
.TOA-Seniorafdeling figure:nth-last-of-type(1) {
padding-bottom: var(--sectionPaddingSmlMobile);
}

.TOA-Seniorafdeling figure img:nth-of-type(n + 2) {
  aspect-ratio: 1/1;
  object-position: 80%;
}

.TOA-Seniorafdeling figure img:nth-of-type(1) {
  aspect-ratio: 2/1;
  grid-column: 1/-1;
}
/* TOA media query */
@media (min-width: 1440px) {
  .TOA h1{
    padding: 0;
  }
  .TOA-flexWrapper {
    display: flex;
  }

  .TOA section figure {
    width: 50vw;
  }
  
  .TOA .TOA-HeroFigure{
    padding-top: var(--textPaddingSpacingMobile);
  }

  .TOA figure:not(.headerTOA figure){
    padding-top: var(--textPaddingSpacingDesktop);
  }

  .TOA section:not(.TOA-Introduktion) article {
    width: 50vw;
  }

  .TOA section h2 {
    padding-top: var(--sectionPaddingSmlDesktop);
  }

  .TOA section figure {
    padding-top: var(--textPaddingSpacingDesktop);
  }
  .TOA .TOA-Seniorafdeling figure, .TOA-Seniorafdeling article{
    padding-bottom: var(--sectionPaddingSmlDesktop);
  }

  .TOA section:not(.TOA-Introduktion) article p {
    padding-right: var(--textPaddingSpacingDesktop);
  }

}



  
/* */
/* Medlemsskab */
/*  */
.medlem h2{
  padding-bottom: var(--textPaddingSpacingMobile);
  padding-top: var(--sectionPaddingSmlMobile);
}

.Medlemskabcards{
  background-color: var(--clearSky);
  border-radius: 15px;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1.5rem;
  max-width: 250px;
  
}
.Medlemskabcards p{
  font-size: 1.5rem;
}
.tekst-medlem article:nth-last-of-type(1) p{
  padding-bottom: var(--sectionPaddingSmlMobile);
}
/*  */


/* */
/* Kontakt */
.kontaktcards{
  padding: 16px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin: 1rem;
  background: var(--white);
}
summary{
  color: var(--white);
}
.kontakt h1{
  padding-bottom: var(--textPaddingSpacingMobile);
}
.kontaktcards img {
  width: 150px;
  text-align: center;
}

.kontaktcards > p
h1
h2
h3 {
  margin: 1rem;

}

.links {
  background-color: var(--clearSky);
  padding-inline: 25px;
  padding-block: 10px;
  margin-top:var(--sectionPaddingSmlMobile);

}
.links h2{
  color: var(--black);
}
.links{
  margin-bottom: var(--sectionPaddingSmlMobile);
}
.details-kontakt-mobile summary{
  padding: 1rem;
  background-color: var(--freshMint);
  margin: 1rem;
  margin-top: 0;
  font-family: "Arial", sans-serif;
}
.details-kontakt-mobile a{
  font-size: 0.8rem;
  display: block;
}
.details-kontakt-desktop{
  display: none;
}
.details-kontakt-desktop summary{
  display: none;
}

 /*  */
/* media til medlemsskab */
@media only screen and (min-width: 1440px){
.Medlemskabcards{
  width: 22vw;
  height: auto;
  aspect-ratio: 5/4;
  max-width: 5000px;
  min-height: 326px;
}
.medlem h1 {
  padding-bottom: var(--paddingSmlDesktop);
}
.Medlemskabcards p {
  font-size: 2vw;
}
.medlemskabpriser{
  display: flex;
  justify-content: space-around;
}
.Medlemskabcards div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tekst-medlem article:nth-last-of-type(1) p {
  padding-bottom: var(--sectionPaddingSmlDesktop);
}
}

/*  */

/* media til kontakt */
@media only screen and (min-width: 1440px) {
.kontaktcards{
  min-width: 300px;
  display: flex;
  padding: 2rem;
  margin: 1rem;
}
.details-kontakt-mobile{
  display: none;
}
.details-kontakt-desktop{
  display: grid;

}
.details-kontakt-desktop summary{
  display: none;
}
.details-kontakt-desktop a{
  display: block;
  font-size: 1rem;
}
.details-kontakt-desktop h2{
  padding-top: var(--sectionPaddingSmlDesktop);
}
.Bestyrelse{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.Kontaktpersoner{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
}
.Udvalg{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.kontakt h1{
  padding: 0;
}
.kontaktcards h2{
  font-size: 2rem;
}
.kontaktcards p{
  font-size: 1rem;
}
.links{
  margin-block: var(--sectionPaddingSmlDesktop);
}
}
/*  */
